body{
  /* background-image: url("./assets/Images/background5.png"); */
} 

/* .nav-bar {
  margin-bottom: 200px !important;
} */

.main-container {
  margin-top: 100px;
}
.my-button{
  background-color: #7A26C1;
  color: white;
  width: 200px;
}
.my-button:hover{
  border-color: #7A26C1;
  color: #7A26C1;
}

ul.main-list{
  list-style-type: none;
}

.main-list li{
  font-size: medium;

}
.list-icons {
  color: #7A26C1;
}

.main-header {
  color: #7A26C1;
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.textArea:focus {
  border-color: #7A26C1 !important;
}


.logo {
  color: #7A26C1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo:hover{
  color: #7A26C1
}

